@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Doran';
  src: url('/font/Doran-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Doran';
  src: url('/font/Doran-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Doran';
  src: url('/font/Doran-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Doran';
  src: url('/font/Doran-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
  font-family: 'Doran', sans-serif;
}

body {
  direction: rtl;
}